annotation_ex.xlsx
data/
runs/
weights/
arguments/*
!arguments/gtea.yaml
results/
__pycache__/
.jpynb_checkpoints/
.DS_Store
runs/__pycache__
models/__pycache__
utils/__pycache__
weight/__pycache__
.ipynb_checkpoints/
Untitled.ipynb
*.ipynb
scores/
run_mydataset.sh